<template>
    <el-button type="danger" @click="deleteRow" size="mini"><i v-bind:class="{ 'fa fa-trash': trashIcon, 'fa fa-times': !trashIcon}"></i></el-button>
</template>

<script>
    export default {
        props: {
            rows: { default: null },
            scope: { default: null },
        },
        data() {
            return {
                deleteMessage: '',
                deleteTitle: '',
                /* GOBALO MOD */
                isTrash: false,
                messages: {
                	confirmationChildrenItems: '',
                	confirmationChildrenShow: '',
                	deleteButton: '',
                	deletedSuccessfully: '',
                	deleteMessage: ''
                },
                trashIcon: false,
                /* FIN GOBALO MOD */
            };
        },
        methods: {
        	/* GOBALO MOD */
            deleteRow(event) {
            	if(this.scope.row.urls.check_children)
            	{
            		axios.delete(this.scope.row.urls.check_children)
            			.then((response) => {
            				
        					if (response.data.message.length > 0) {
        						// Message
        						var message = this.messages.confirmationChildrenItems + '.<br><br>';
        						message += this.confirmationChildrenShow + ':<br>';
        						message += "<ul>";
        						for(var i in response.data.data)
        						{
        							message += "<li><b>" + response.data.data[i] + "</b></li>";
        						}
        						message += "<ul>";
        						//
        						
        						this.$confirm(
        							response.data.message,
    								this.trans('core.modal.title-attention'),
        							{
					                    confirmButtonText: this.messages.deleteButton,
					                    cancelButtonText: this.trans('core.button.cancel'),
					                    type: 'warning',
					                    confirmButtonClass: 'el-button--danger',
					                    dangerouslyUseHTMLString: true
				                	}
				                ).then(this.deleteItem);
				               	
				               	return;
				               	
        					}
        					
        					this.deleteOneRow();
        					
            			});
            	}else{
            		this.deleteOneRow();
            	}
            },
            deleteItem() {
                const vm = this;
                
                var url = (this.isTrash || !this.scope.row.urls.check_children ? this.scope.row.urls.delete_url : this.scope.row.urls.delete_url_only_trash);
                
                axios.delete(url)
                    .then((response) => {
                        if (response.data.errors === false) {
                            vm.$message({
                                type: 'success',
                                message: response.data.message,
                            });

                            vm.rows.splice(vm.scope.$index, 1);

                            /* GOBALO MOD */
                            if(vm.scope._self.fetchData)
                                vm.scope._self.fetchData();
                            /* FIN GOBALO MOD */
                        }
                    })
                    .catch((error) => {
                        vm.$message({
                            type: 'error',
                            message: error.data.message,
                        });
                    });
            },
            deleteOneRow() {
            	 this.$confirm(this.messages.deleteMessage, this.deleteTitle, {
                    confirmButtonText: this.messages.deleteButton,
                    cancelButtonText: this.trans('core.button.cancel'),
                    type: 'warning',
                    confirmButtonClass: 'el-button--danger',
                }).then(this.deleteItem);
            },
            ifIsTrash() {
            	if(this.isTrash || !this.scope.row.urls.check_children){
            		// Messages
            		this.messages.confirmationChildrenItems = this.trans('core.modal.confirmation-children-items');
            		this.confirmationChildrenShow = this.trans('core.modal.confirmation-children-show');
            		this.messages.deleteButton = this.trans('core.button.delete');
            		this.messages.deletedSuccessfully = this.trans('core.Items deleted successfully');
            		this.messages.deleteMessage = this.trans('core.modal.confirmation-message');
        		}else{
            		// Messages
            		this.messages.confirmationChildrenItems = this.trans('core.modal.confirmation-children-items-trash');
            		this.confirmationChildrenShow = this.trans('core.modal.confirmation-children-show-trash');
            		this.messages.deleteButton = this.trans('core.button.move-to-trash');
            		this.messages.deletedSuccessfully = this.trans('core.Items deleted successfully trash');
            		this.messages.deleteMessage = this.trans('core.modal.confirmation-message-trash');
        		}

            	if(!this.trashIcon)
                {
                    this.messages.deleteButton = this.trans('core.button.delete');
                }
            }
            /* FIN GOBALO MOD */
        },
        mounted() {
            this.deleteTitle = this.trans('core.modal.title-attention')
            var urlSplit = window.location.href.split('/');
			
            if( urlSplit[urlSplit.length - 1] === 'trash' && this.scope.row.urls.check_children )
				this.isTrash = true;
            console.log(this.scope.row);
            if('trashIcon' in this.scope.row)
                this.trashIcon = this.scope.row.trashIcon;
            else
                this.trashIcon = !this.isTrash;
			console.log( this.trashIcon ),
			this.ifIsTrash();
        },
    };
</script>
